<div class="login-container">
    <div class="container">
        {{> Header text="Вход"}}
        <form class="form">
            {{> Input label="Логин" type="text" name="login" decoration="primary" }}
            {{> Input label="Пароль" type="password" name="password" decoration="primary" }}
            {{> Button class="login-button" label="Авторизоваться" type="primary" }}
            {{> Button label="Нет аккаунта?" type="link" }}
        </form>
    </div>
</div>