<div class="container">
        {{> Header text="Вход"}}
    <form class="form">
        {{> Input label="Логин" }}
        {{> Input label="Пароль" type="password" }}
        {{> Button label="Авторизоваться" }}
        {{> Link text="Нет аккаунта?" }}
    </form>
</div>
