.button {
  background-color: var(--main-color);
  color: var(--button-text-color);
  font-size: 13px;
  border: none;
  font-weight: 500;
  display: block;
  width: 100%;
  padding: 12px 0;
  border-radius: 8px;
  cursor: pointer;
}
