<div class="navigate-container">
  <ul class="navigate__list">
    <li><a href="#" page="login" class="navigate__list-item">Login</a></li>
    <li><a href="#" page="signin" class="navigate__list-item">Signin</a></li>
    <li><a href="#" page="chat" class="navigate__list-item">Chat</a></li>
    <li><a href="#" page="profile" class="navigate__list-item">Profile</a></li>
    <li><a href="#" page="notFoundPage" class="navigate__list-item">404</a></li>
    <li><a href="#" page="errorPage" class="navigate__list-item">500</a></li>
  </ul>
</div>
