<ul>
    <li><a href="#" page="login">Login</a></li>
    <li><a href="#" page="signin">Signin</a></li>
    <li><a href="#" page="chat">Chat</a></li>
    <li><a href="#" page="profile">Profile</a></li>
    <li><a href="#" page="notFoundPage">404</a></li>
</ul>