.navigate-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  max-width: 1280px;
  min-height: 720px;
  height: 100%;
  width: 100%;
}

.navigate__list {
  list-style: none;
  line-height: 1.9;
}

.navigate__list-item {
  color: var(--main-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
