.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  max-width: 1280px;
  min-height: 720px;
  height: 100%;
  width: 100%;
}

.signin-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 30px 30px;
  width: 340px;
  box-shadow: 0 0 6px 0 #00000024;
  border-radius: 12px;
}

.signin-button {
  margin-block-start: 47px;
}
