<div class="not-found-page-container">
  <h2 class="not-found-page__header">404</h2>
  <p class="not-found-page__message">Не туда попали</p>
  {{> Link text="Назад к чатам" class="not-found-page__link" }}
</div>
